# ===========================================
# AI助手 - 内网环境配置
# ===========================================

# ============ API基础地址 ============
# 聊天API基础地址
# VITE_CHAT_API_BASE=http://192.168.124.6:19000
VITE_CHAT_API_BASE=http://10.32.71.223:19000


# 功能API基础地址
VITE_FUNCTION_API_BASE=http://192.168.124.10:8080

# 智达/情报池项目页面代理
VITE_QBPT_PAGE_URL=https://50.18.22.180:815

# 登录API地址
VITE_LOGIN_API_URL=http://192.168.124.10:8083/qbpt/qbpt/login_kfdl.xhtml
VITE_AUTH_API_URL=http://10.32.71.224:8080

# ============ 功能API认证Token配置 ============
# 穿透分析
VITE_DIFY_CTFX_TOKEN=Bearer app-FQyJUwTe9Rt1JoqeswY9F1Ni

# 形式研判
VITE_DIFY_XSYP_TOKEN=Bearer app-TsMGUunxgLQcZFv2UTgmI3Wt

# 警情案件
VITE_DIFY_JQFX_TOKEN=Bearer app-Qhqb1EvgTWBa7d9t1Wix9BKp

# 群体防范
VITE_DIFY_QTFF_TOKEN=Bearer app-imRA2AyLqfNEd1AayihNKzGu

# 专题分析
VITE_DIFY_ZTFX_TOKEN=Bearer app-pqdJsEB29bpeIy2Ydbzk32Hb

# 值班要情
VITE_DIFY_ZBYQ_TOKEN=Bearer app-XkDyIYs8G6EhdwclJYV7detA

# 人员档案
VITE_DIFY_RYDA_TOKEN=Bearer app-7HKTwlwmqWRwJ3w7ehvnohlG

# 群体聚集
VITE_DIFY_QTJJ_TOKEN=Bearer app-6VOQBpI5zWSdSGUc0L7nGU2M

# 智能调度
VITE_DIFY_ZNDD_TOKEN=Bearer app-IvPsd8TVxRrscMZ5TdPwicyt
